/* Global Styles */
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6e4e4; 
  background-image: url('/static/images/background.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  color: #000000;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px;
}

/* Mq Icon style */
#mqicon {
  width: 300px; 
  height: auto; 
  margin-right: 15px; 
}

/*Logout Icon style*/
#logout-icon {
  width: 20px;
  padding-right: 10px;
}

/*Login/register page*/
.login-container {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-h1{
  text-align: center;
  margin-bottom: 20px;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.login-button{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  background-color: #991e29;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: #7c1621;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

/* Alert Styles */
.success-alert {
  background-color: #d4edda; 
  color: #155724; 
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #c3e6cb; 
  border-radius: 5px; 
  font-weight: bold; 
  text-align: center; 
  animation: fadeIn 0.5s; 
}

/* Animation for fading in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Button Styles for Navbar */
.navbar-right {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
}

.nav-link {
  text-decoration: none; 
  padding: 10px 50px;
  color: #FEFFFE; 
  background-color: #991e29; 
  border-radius: 25px; 
  transition: background-color 0.3s; 
  font-size: 16px; 
  margin-left: 15px; 
  flex-grow: 1; 
  text-align: center; 
  cursor: pointer;
}

.nav-link.dropdown-button {
  border: 1px solid #991e29;
}
/* Hover Effect for Buttons */
.nav-link:hover {
  background-color: #7c1621;
}

/*Logout button*/
.btn-btn-logout {
  display: inline-flex;
  align-items: center;
  text-decoration: none; 
  padding: 10px 20px;
  color: #FEFFFE; 
  background-color: #991e29; 
  border-radius: 25px; 
  transition: background-color 0.3s; 
  font-size: 16px; 
  margin-left: 15px; 
  flex-grow: 1; 
  text-align: center; 
}

.btn-btn-logout:hover {
  background-color: #7c1621;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 25px;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #991e29; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd; 
}

/* Container Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.aicontainer {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.openailogo {
  float:left;
  width: 150px;
  padding: 50px;
}

.geminiailogo {
  float:left;
  width: 150px;
  padding: 50px;
}

.hflogo {
  float:left;
  width: 150px;
  padding: 50px;
}

.purposecontainer {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* User input textarea Styles */
textarea {
  width: 100%;
  padding: 12px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s; 
  resize: vertical;
  color: #333; 
  background-color: #f9f9f9; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  line-height: 1.5; 
  height: 100px; 
}

textarea:focus {
  border-color: #991e29; 
  box-shadow: 0 0 8px rgba(153, 30, 41, 0.5); 
  outline: none; 
  color: #000; 
}

textarea::placeholder {
  color: #aaa; 
  font-style: italic; 
}

/* Button Styles */
.checkbtn {
  background-color: #000000; 
  color: #FEFFFE; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
}

.checkbtn:hover {
  background-color: #7c1621; 
}

#homeinfo {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

/* Results Styles */
.results {
  margin-top: 20px;
  text-align: left; 
}

.result-box {
  border: 3px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.747);
}

/* History Styles */
.history-container {
  margin-top: 20px;
  text-align: left; 
}

/* History Entry Styles */
.entry-container {
  border: 3px solid #ccc; 
  border-radius: 4px;
  padding: 15px; 
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.747);
}

.history h2 {
  color: #000000;
}

.log-alert {
  background-color: #cce5ff; /* Light blue background */
  color: #004085; /* Dark blue text */
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #b8daff; /* Border to match the background */
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.5s; /* Animation for fading in */
}

/* Responsive scaling */
@media (max-width: 768px) {
  .nav-link {
    font-size: 14px; 
  }
}
