<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Text Detect</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="navbar">
        <img id="mqicon" src="/static/images/icon.png" alt="Icon"/>
        <div class="navbar-right">
            <a href="/home" class="nav-link">Home</a>
            <div class="dropdown">
                <button class="nav-link dropdown-button">About</button>
                <div class="dropdown-content">
                    <a href="/about/purpose">Purpose</a>
                    <a href="/about/ai-models">AI Models</a>                    
                </div>
            </div>
            <a href="/logs" class="nav-link">Logs</a>
            <a href="{{ url_for('logout') }}" class="btn-btn-logout">
                <img src="/static/images/logouticon.png" alt="Logout Icon" id="logout-icon">
                Logout
            </a>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="success-alert">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>AI Text Detect</h1>
        <p id="homeinfo">
            Analyse suspicious texts to verify its authenticity. Our analyser employs multiple trained models to look through each text submission and generate a score and probability based on what it has found.
        </p>
        <form action="/check" method="POST">
            <textarea name="text" rows="4" placeholder="Enter text to analyse..."></textarea>
            <input class="checkbtn" type="submit" value="Check Text">
        </form>

        {% if chart_data %}
            <img src="data:image/png;base64,{{ chart_data }}" alt="Data not found">
        {% endif %}

        <div class="results">
            {% if openai_result %}
            <div class="result-box"><strong>OpenAI Result:</strong> {{ openai_result }}</div>
            {% endif %}
            {% if bert_result %}
            <div class="result-box"><strong>BERT Result:</strong> {{ bert_result }}</div>
            {% endif %}
            {% if gemini_result %}
            <div class="result-box"><strong>Gemini AI Result:</strong> {{ gemini_result }}</div>
            {% endif %}
        </div>
    </div>
</body>
</html>
