<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purpose</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <img id="mqicon" src="/static/images/icon.png" alt="Icon"/>
        <div class="navbar-right">
            <a href="/" class="nav-link">Home</a>
            <div class="dropdown">
                <button class="nav-link dropdown-button">About</button>
                <div class="dropdown-content">
                    <a href="/about/purpose">Purpose</a>
                    <a href="/about/ai-models">AI Models</a>                    
                </div>
            </div>
            <a href="/logs" class="nav-link">Logs</a>
        </div>
    </div>
    <div class="purposecontainer">
        <h1>Purpose</h1>
        <p>
            Our solution is designed to address the challenges that AI-generated content presents in the fight against misinformation and disinformation.
            <br>
            <br>
            We accomplish this through: 
            <br>
            Utilising AI Detection Systems 
            <br>
            Developing Custom APIs 
            <br>
            Enhancing User Experience
            
        </p>
    </div>
</body>
</html>
