<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purpose</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <img id="mqicon" src="/static/images/icon.png" alt="Icon"/>
        <div class="navbar-right">
            <a href="/home" class="nav-link">Home</a>
            <div class="dropdown">
                <button class="nav-link dropdown-button">About</button>
                <div class="dropdown-content">
                    <a href="/about/purpose">Purpose</a>
                    <a href="/about/ai-models">AI Models</a>                    
                </div>
            </div>
            <a href="/logs" class="nav-link">Logs</a>
            <a href="{{url_for('logout')}}" class="btn-btn-logout">
                <img src="/static/images/logouticon.png" alt="Logout Icon" id="logout-icon">
                Logout
            </a>
        </div>
    </div>
    <div class="purposecontainer">
        <h1>Purpose</h1>
        <p>
            The purpose of <em>True Text Detect</em> is to provide a system that detects potential AI-generated 
            text. This streamlined interface takes your input and provides a probability score from various 
            trained AI-processed models to determine if it is human-authored or AI-generated.
            <br> 
            <br> This is achieved by:
            <br> <strong>1.</strong> Utilising AI Detection systems
            <br> <strong>2.</strong> Developing custom APIs 
            <br> <strong>3.</strong> Enhancing user experience
            <br>
            <br>
            <hr>
            <h2>Why?</h2>
            <br>
            As AI technology becomes increasingly advanced generating highly deceptive content such as deep 
            fakes, and exploiting human content for credible sounding material it has become increasingly 
            difficult to positively identify deceptive AI material due to the high reproducible quality. 
            Our solution is to counter such malicious AI-generation and offer users an effective detection
            system.

            <em>AI Text Detect</em> aims to develop a robust technique that leverages existing AI-processed
            models to provide users with a solution that helps them identify text-based AI-generated content
            and to aid in the fight against the spread of misinformation in social networks.
            <br>
            <br>
            <hr>
            <h2>What types of text can be analysed?</h2>
            <br>
            Any text can be analysed, whether it be from your own writing, news articles, social media texts
            and so on. If it can be typed/pasted into the text box, our system can analyse it.

        </p>
    </div>
</body>
</html>
